*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
}
.header{
    display: flex;
    width: 80vw;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgba(197, 192, 192, 0.5);
}
.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
}
.logobox{
    width: 28%;
}
.mobile-menu-item{
    display: none;
}
.logo{
    width: 100%;
}
.hidden{
    display: none;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    width: 65%;
    height: 100%;
    align-items: center;
}
.nav-list-item{
    display: block;
    height: 100%;
    text-decoration: none;
    padding-top: 10%;
    font-size: 14px;
    color: rgb(174, 166, 166);
    text-transform: capitalize;
}
.nav-list-item:hover{
    color: black;
    border-bottom: 3px solid rgb(255,125,27);
}
.nav-icons{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: end;
    gap: 10%;
    position: relative;
}
.num-of-prd{
    display: none;
    position: absolute;
    background-color: rgb(255,125,27);
    color: white;
    border-radius: 40%;
    text-align: center;
    font-size: 10px;
    width: 15px;
    height: 10px;
    top: 30%;
    right: 18%;
}
.cart-dropdown{
    position: absolute;
    display: block;
    width: 245px;
    height: 150px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(210, 204, 204, 0.723);
    top: 12vh;
    right: -10%;
}
.hidden3{
    display: none;
}
.cart-dropdown-cart{
    width: 100%;
    height: 25%;
    border-bottom: 1px solid rgba(218, 215, 215, 0.863);
    padding-top: 5%;
    padding-left: 7%;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 600;
}
.cart-dropdown-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
    align-items: center;
    width: 100%;
    height: 75%;
    font-size: 12px;
    color: rgb(174, 166, 166);
}
.jsImage{
    width: 20%;
    height: 40%;
    border-radius: 5px;
}
.jsDiv{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 40%;
    font-size: 10px;
    width: 55%;
}
.delete-icon{
    width: 5%;
    height: 10%;
}
.check-out{
    width: 100%;
    margin: 0 5%;
    height: 35%;
    padding-top: 10px;
    text-transform: capitalize;
    text-align: center;
    background-color: rgb(255,125,27);
    border-radius: 5px;
    color: white;
}
.jsDiv-p1{
    width: 100%;
    text-transform: capitalize;
}
.jsDiv-p2{
    width: 40%;
}
.amount{
    font-weight: 600;
    color: black;
}

.cart{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.avatar{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.avatar:hover{
    border: 1px solid rgb(255,125,27);
    border-radius: 50%;
}

.section{
    width: 70vw;
    height: 70vh;
    margin: 4% auto 2% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.photo-wrapper{
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.display-photos{
    width: 100%;
    height: 78%;
    border-radius: 10px;
}
.mobile-photo-container{
    display: none;
}
.greater-than{
    display: none;
}
.lesser-than{
    display: none;
}
.big-photo{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.photo{
    width: 21%;
    height: 18%;
    border-radius: 10px;
    cursor: pointer;
}
.photo:active{
    opacity: 0.7;
     border: 2px solid rgb(255,125,27);
}
.photo:hover{
    opacity: 0.7;
}
.text-wrapper{
    width: 40%;
    height: 80%;
    margin: auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.small{
    font-size: 10px;
    color: rgb(255,125,27);
    text-transform: uppercase;
    display: block;
    margin-bottom: 3%;
    width: 100%;
}
.big{
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}
.text{
    font-size: 12px;
    color: rgb(174, 166, 166);
}
.price{
    font-weight: 600;
    font-size: 18px;
}
.percentage{
    font-weight: 500;
    color: rgb(255,125,27);
    background-color: rgb(250, 186, 138);
    margin: auto 10px;
}
.prev-price{
    display: block;
    width: 100%;
    text-decoration: line-through;font-size: 14px;
    color: rgb(174, 166, 166);
    margin-top: -5%;
}
.add-to-cart{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.icon{
    width: 10%;
    background-color: rgb(246,248,252);
    height: 35px;
    position: relative;
}
.icon1{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
}
.icon3{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}
.icon1:hover, .icon3:hover, .cart-icon:hover{
    opacity: 0.7;
}
.icon-image{
    width: 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon-p{
    text-align: center;
    padding-top: 25%;
    height: 100%;
    font-weight: 600;
}
.cart-icon{
    width: 65%;
    margin-left: 5%;
    color: white;
    border-radius: 5px;
    background-color: rgb(255,125,27);
    height: 35px;
    cursor: pointer;
    padding: auto;
}
.cart-icon-img{
    color: white;
    width: 52px;
    padding-top: 10px;
    padding-left: 39px;
}
.cart-icon-p{
    display: inline;
    padding-left: 10px;
}

@media screen and (max-width: 480px){
    .hidden{
        display:block;
        cursor: pointer;
    }
    .nav-list-item{
        display:none;
    }
    .logo{
        width: 200%;
    }
    .line{
        display: none;
    }
    .avatar{
    width: 25px;
    height: 25px;
    z-index: -1;
    }
    .logobox{
        display: flex;
        width: 70%;
        justify-content:start;
        gap:20%;
        position: relative;
    }
    .mobile-menu-item{
        display: block;
        background-color: white;
        width: 70vw;
        height: 150vh;
    }
    .mobile-list-item{
        display: block;
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
        padding: 0 0 20px 50px;
        text-transform: capitalize;
        color: black
    }
    .mobile-menu-bckg{
        background-color: rgba(20, 19, 19, 0.742);
        position: absolute;
        display: block;
         width: 100.5vw;
        height: 150vh;
         top: -6vh;
        left: -23%;
        z-index: 1;
    }
    .hidden2{
        display: none;
    }
    .close{
        padding-bottom: 60px;
        padding-top: 5%;
        color: rgb(174, 166, 166);
    }
    .header{
        width: 90vw;
    }
    .section{
        width: 100vw;
    }
    .photo-wrapper{
        width: 100%;
        position: relative;
    }
    .text-wrapper{
        width: 90%;
        margin: -15% auto 5% auto;
    }
    .big-photo{
        border-radius: 0;
        width:100%;
    }
    .photo{
        display:none;
    }
    .icon{
        width:31.6%;
        margin-top: 3%;
        margin-bottom: 3%;
        /* z-index: -1; */
    }
    .icon-p{
        padding-top: 8%;
    }
    .cart-icon{
        width: 95%;
        margin:0;
        margin:0 0 15% 0;
        box-shadow: 0 10px 15px #f3d7dc;
    } 
    .prev-price{
        width:50%;
        padding-left:28%;
        padding-top: 5.5%;
    }
    .cart-icon-img{
    margin-left: 15%;
    }
    .cart-dropdown{
        width: 90vw;
        height: 50vh;
        right: 2px;
        top: 20vh;
        height: 300px;
        z-index: 1;
    }
    .check-out{
        padding-top: 25px;
        font-size: 14px;
    }
    .num-of-prd{
        top: 38%;
        right: 21%;
    }
    .jsImage{
        height: 30%;
    }
        
    .jsDiv{
        height: 30%;
        font-size: 14px;
    }
        
    .check-out{
       height: 30%;
       padding-top: 25px;
    }
    .cart-dropdown-cart{
        padding-top: 10%;
        font-size: 16px;
    }
    .cart-dropdown-content{
        font-size: 16px;
    }
    .display-photos{
        width: 400vw;
        overflow: hidden;
        border-radius: 0;
    }
    .greater-than{
        display: block;
        position: absolute;
        transform:scale(1.4);
        top: 35%;
        right: 6%;
        width: 20px;
        background-color: white;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
    }
    .lesser-than{
        display: block;
        position: absolute;
        transform:scale(1.4);
        top: 35%;
        left: 6%;
        width: 20px;
        background-color: white;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
    }
    .mobile-photo-container{
        display: flex;
        width:400vw;
    }
    .mobile-photo{
        width: 100vw;
        height: 100%;

        
    }
          
  
}